
body{
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", Times, serif;

}
a{
   
    text-decoration: none;
    color:#9a9ca3;;
}
.navbar{
    width: 95%;
    /* height: 100%; */
    margin:  0 auto;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    color: #9a9ca3;
    /* width: 100%; */
}

.myBtn{
    width: 80px;
    height: 40px;
    color: white;
    background-color: #00cb74;
    border:none;
    /* border-radius: 10px 0 0 10px; */
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;

}
img{
    width: 200px;
    height: 75px;
}
.links{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main{
    /* background-color:#f0f4fc; */
    height: 700px;
    margin-top:40px ;
}
.main-content{
    width: 95%;
    margin:  0 auto;
    display: flex;
    justify-content: space-between;
}
.subscription{
    margin-right: 30px;
}
.benefits_cards{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}
.benefits_cards img{
    width: 75px;
}
.subscription img{
    width: 75px;
}
.card-subs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:200px;
    height: 250px;
    margin-top: 40px;
    padding: 10px;
    border-radius: 10px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:170px;
    height: 170px;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer{
    height: 400px;
    width: 95%;
    /* height: 100%; */
    margin:  0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer_logo{
    margin-top: 20px;
    color: #9a9ca3;
    width: 400px;
    font-size: 25px;

}
.footer_logo img{
    width: 200px;
    height: 75px;
    
}
.business_service{
    line-height: 30px;
}
.finance_service{
    line-height: 30px;
    
}

.service_subheading{
    color: #9a9ca3;
    font-size: 20px;


}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #e0f4ec;
    margin: 100px auto; /* 15% from the top and centered */
    /* padding: 20px; */
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
    display: flex;
    height: 65%;
  }
  .modal-img-container{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1200px;
  }
  .modal-content img{
      width: 400px;
      height: 300px;
  }
  .modal-form-container{
      background-color: white;
      /* border-radius: 10px; */
      border-top-left-radius: 40px;
      border-bottom-left-radius: 40px;
  }
  .modal-form{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding:  40px;
  }
  .modal-form-btn{
      margin-top: 20px;
      width: 100%;
      height: 40px;
      border-radius: 5px;
      color: white;
      background-color: #00cb74;
      border:none;
  }
  .modal-form-input{
      height: 40px;
      /* border: none; */
      outline: none;
      /* border-width: 10px; */
      border-color: #00cb74;
  }
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    background-color: #e0f4ec;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }